<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TicketCheckStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="mysqlConn" connectionString="Database=ticket;Data Source=127.0.0.1;User Id=admin;Password=code@8888;pooling=false;CharSet=utf8;port=3306;" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <add key="InitStep" value="3" />
    <add key="CurrStationId" value="09752b71-397f-4d9d-969f-711c23dcdc1a" />
    <add key="ScaleBrandType" value="1" />
    <add key="ScaleSeries" value="XK3190-A9" />
    <add key="Com" value="COM4" />
    <add key="BaudRate" value="1200" />
    <add key="DataBits" value="8" />
    <add key="IcCom" value="COM3" />
    <add key="IcBaudRate" value="9600" />
    <add key="CameraCaptureFilePath" value="" />
    <add key="BillNumberDate" value="2019-01-30" />
    <add key="BillNumberSort" value="2" />
    <add key="defaultPrintFrequency" value="2" />
    <add key="BillDescription" value="白联存根，红联财务，黄联运费，绿联随车，其它" />
    <add key="PrintTitle" value="云南省曲靖市富源县煤炭管理运煤放行单" />
    <add key="CashReportTitle" value="煤炭管理运煤补税单" />
    <add key="autoPrint" value="1" />
    <add key="autoPrintSecend" value="2" />
    <add key="limitTone" value="1.2" />
    <add key="IsUnifeidLimitTone" value="1" />
    <add key="SoftSrartDate" value="2019-01-01 00:00:00" />
    <add key="SoftEndDate" value="1577288344000" />
    <add key="coryRight" value="" />
    <add key="remoteUrl" value="http://192.168.88.3:8089" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <TicketCheckStation.Properties.Settings>
      <setting name="WeihgingValue" serializeAs="String">
        <value>63.25</value>
      </setting>
    </TicketCheckStation.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.14.0" newVersion="8.0.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>