<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mysqlConn" connectionString="Database=ticket;Data Source=127.0.0.1;User Id=admin;Password=Txmy0071;pooling=false;CharSet=utf8;port=33069" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <add key="Com" value="Com3" />
    <add key="BaudRate" value="115200" />
    <add key="DataBits" value="8" />
    <add key="CameraCaptureFilePath" value="" />
    <add key="BillNumberDate" value="2018-12-18" />
    <add key="BillNumberSort" value="9" />
    <add key="defaultPrintFrequency" value="2" />
    <add key="BillDescription" value=" 白联存根，红联财务，黄联运费，绿联随车，其它" />
    <add key="PrintTitle" value="云南省曲靖市富源县煤炭管理运煤放行单" />
    <add key="autoPrint" value="1" />
    <add key="autoPrintSecend" value="3" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>