<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TicketCheckStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="mysqlConn" connectionString="Database=ticket;Data Source=localhost;User Id=admin;Password=Txmy0071;pooling=false;CharSet=utf8;port=33069;" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <add key="InitStep" value="3" />
    <add key="CurrStationId" value="047ee76b-314c-45cd-9216-f1238235d86c" />
    <add key="ScaleBrandType" value="1" />
    <add key="ScaleSeries" value="XK3190-A9" />
    <add key="Com" value="COM4" />
    <add key="BaudRate" value="2400" />
    <add key="DataBits" value="8" />
    <add key="IcCom" value="COM3" />
    <add key="IcBaudRate" value="9600" />
    <add key="CameraCaptureFilePath" value="" />
    <add key="BillNumberDate" value="2018-12-25" />
    <add key="BillNumberSort" value="5" />
    <add key="defaultPrintFrequency" value="2" />
    <add key="BillDescription" value="白联存根，红联财务，黄联运费，绿联随车，其它" />
    <add key="PrintTitle" value="云南省曲靖市富源县煤炭管理运煤放行单" />
    <add key="CashReportTitle" value="煤炭管理运煤补税单" />
    <add key="autoPrint" value="1" />
    <add key="autoPrintSecend" value="2" />
    <add key="limitTone" value="0.8" />
    <add key="IsUnifeidLimitTone" value="1" />
    <add key="SoftSrartDate" value="2019-01-01 00:00:00" />
    <add key="SoftEndDate" value="1577288344000" />    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <TicketCheckStation.Properties.Settings>
      <setting name="WeihgingValue" serializeAs="String">
        <value>63.25</value>
      </setting>
    </TicketCheckStation.Properties.Settings>
  </userSettings>
</configuration>